<!DOCTYPE html>
<html>
	<head>
		<title>Simple Map</title>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta charset="utf-8" />
		<style>
			/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
			#map {
				height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<a href="{% url 'kakao' %}">kakao map</a>
		<div id="map"></div>
		<script>
			var map;

			function initMap() {
				var seoul = { lat: 37.50712415375607, lng: 127.0555832978748 };
				map = new google.maps.Map(document.getElementById('map'), {
					zoom: 18,
					center: seoul,
				});

				new google.maps.Marker({
					position: seoul,
					map: map,
					label: '애플트리타워',
				});
			}
		</script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"
			async
			defer
		></script>
	</body>
</html>
